body{
    background-color: #5c5c5c;
    width: 1920px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


#Home {
    padding-top: 5%;  
    padding-left: 30%;
    padding-bottom: 20%;
    
    position:absolute;


    text-align: left;


}

#Float-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

    left: 50%;
    transform: translate(-13%, 0%);


    padding-left: 540px;
    padding-bottom: 10%;
}

#assist h3 {
    text-align: center;
}

#assist {
    text-align: center;


    height: 35em;
    width: 100%;

    color: white;
    font-family: "Montserrat", serif;
    font-size: 14px;

    padding: 10px;
    
    line-height: -10px;

    background-color: #1d1d1d;
    
    border-style: solid;
    border-color: #525252;
    border-radius: 5px;
    border-width: 3px;
}

#assist a{ 
    color: rgb(235, 235, 234);

    height: 10px;
    
    text-align: left;
    
    font-size: 20px;
    font-family: "Oswald", serif;
   
}

#content h3 {
    text-align: center;
}

#content {
    height: 35em;
    width: 60%;

    color: white;
    font-family: "Montserrat", serif;
    font-size: 14px;

    padding-left: 20px;
    padding-right: 20px;
    
    line-height: -10px;

    background-color: #1d1d1d;
    
    border-style: solid;
    border-color: #525252;
    border-radius: 5px;
    border-width: 3px;
}

#content a{ 
    color: rgb(235, 235, 235);

    height: 10px;
    
    text-align: left;
    
    font-size: 20px;
    font-family: "Oswald", serif;
   
}


#navbar {
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    position: fixed;

    background-color: #292929;
    
    border-bottom-style: solid;
    border-color: #0e0e0e;
    border-width: 5px;

    text-align: center;
    padding-top: 12px;


}


#navbar a{ 
    color: rgb(235, 235, 235);
    padding: 10px;
    height: 10px;
    transition: all .2s ease-in-out; 
    line-height: 0px; 
    text-align: left;
    font-family: "Oswald", serif;

}

#navbar a:hover {
    color: black;
    background-color: white;
    font-size: 20px;
}

#navbar a.selected{
    background-color: #000000;
}

#navbar a.selected:hover{
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
}
    
    /* Track */
    
::-webkit-scrollbar-track {
    background: #363636; 
}
    
    /* Handle */
    
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}

.copyright {
    color: white;
    font-family: "Montserrat", serif;
    font-size: 14px;
    
        
    text-align: center;
}
